.cartMain {
    display: flex;
    height: 100%;
    min-height: 94vh;
}

.cartMainLeft {
    padding: 30px 58px;
    width: 66%;
}

.cartMainRight {
    background-color: #f6f7f7;
    width: 33%;
}

.cartMainRightInner {
    padding-left: 40px;
    margin-right: 20px;
    margin-top: 6rem;
}

.cartMainLeftProduct {
    display: grid;
    grid-template-columns: 50% 1fr 12% 1fr;
    grid-gap: 1rem;
    width: 100%;
}

@media screen and (max-width: 850px) {
    .cartMain {
        flex-direction: column;
    }

    .cartMainLeft {
        padding: 30px 10px;
        width: auto;
    }

    .cartMainRight {
        width: 100%;
        margin: 0rem 0px 0px 0rem
    }

    .cartMainRightInner {
        padding-left: 10px;
        margin-right: 10px;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 520px) {
    .cart img {
        width: 90px !important;
    }

    .cartMainLeftProduct {
        grid-template-columns: 2fr 0.5fr 0.5fr;
    }

    .cartMainLeftProductEachPrice {
        display: none;
    }
}