.cart {
    padding: 30px 58px
}

.cartMain {
    display: flex;
}

.cartMainLeft {
    width: 70%;
}

.cartMainRight {
    width: 30%;
    margin: 0rem 0px 0px 4rem
}

.cartMainLeftProduct {
    display: grid;
    grid-template-columns: 50% 1fr 12% 1fr;
    grid-gap: 1rem;
    width: 100%;
}

@media screen and (max-width: 850px) {
    .cart {
        padding: 30px 30px;
    }

    .cartMain {
        flex-direction: column;
    }

    .cartMainLeft {
        width: 100%;
    }

    .cartMainRight {
        width: 100%;
        margin: 0rem 0px 0px 0rem
    }
}

@media screen and (max-width: 520px) {
    .cart {
        padding: 30px 10px;
    }

    .cart img {
        width: 90px !important;
    }

    .cartMainLeftProduct {
        grid-template-columns: 60% 20% 1fr;
    }

    .cartMainLeftProductEachPrice {
        display: none;
    }

    .cartMainLeftProductInStock {
        display: none;
    }
}