#dashboardBoxes {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 3rem
}

#dashboardBox1 {
    border: 1px solid rgba(0, 0, 0, 0.065);
    background-color: rgb(234 236 240 / 64%);
    flex: 1;
    border-radius: 4px;
    padding: 1.25rem;
    color: rgb(0 0 0 / 0.65);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1)
}

#dashboardBox1:hover,
#dashboardBox2:hover,
#dashboardBox3:hover {
    transform: scale(1.05);
}

#dashboardBox2 {
    border: 1px solid rgba(0, 0, 0, 0.065);
    background-color: #DD6777;
    flex: 1;
    border-radius: 4px;
    padding: 1.25rem;
    color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1)
}

#dashboardBox3 {
    border: 1px solid rgba(0, 0, 0, 0.065);
    background-color: #6FC080;
    flex: 1;
    border-radius: 4px;
    padding: 1.25rem;
    color: white;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1)
}

@media screen and (max-width: 500px) {
    #dashboardBoxes {
        flex-direction: column;
        margin-top: 15px;
        gap: 0.5rem
    }
}