#profile-mobile-button:hover {
    cursor: pointer;
}

#profile-dropdown {
    position: absolute;
    padding: 0;
    margin-top: 8px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#profile-dropdown li {
    list-style-type: none;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

#profile-dropdown li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #profile-buttons {
        display: none !important;
    }

    #profile-mobile-button {
        margin-top: 10px !important;
        display: block !important;
    }

    #update-password {
        width: 70% !important;
    }
}