* {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

nav {
    display: flex;
    background-color: ghostwhite;
    position: sticky;
    top: 0;
    z-index: 100;
}

#NavBarBrandName {
    width: 100%;
    padding-top: 1.2rem;
    padding-left: 3rem;
}

#NavBarBrandName a{
    color: black;
    text-decoration: none;
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.5rem;
    font-weight: bold;
}

#NavBarCartOption{
    flex: 0 0 5%;
    width: 100%;
    padding-top: 1.15rem;
    padding-bottom: 1.3rem;
    padding-right: 2rem;
    text-align: center;
}

#NavBarCartOption a {
    color: black;
    text-decoration: none;
}

#NavBarSignIn{
    position: relative;
    display: inline-block;
}

#NavBarSignIn img {
    padding: 3rem;
    padding-top: 1.4rem;
    padding-bottom: 1rem;
    height: 1.5rem;
    width: 2rem;
}

#NavBarUserName {
    padding-top: 1.35rem;
    padding-right: 2rem;
    font-size: 1.4rem;
    font-weight: bold;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
#dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

#dropdown-content a:hover {background-color: #ddd;}

#NavBarSignIn:hover #dropdown-content {display: block;}

#ErrorPage{
    text-align: center;
}

#ErrorPageMain{
    padding-top: 5rem;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #262626;
}

#ErrorPageMain h3 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
}

#ErrorPageMain h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

#ErrorPageMain h1 {
    font-size: 252px;
    font-weight: 900;
    letter-spacing: -10px;
    margin-top: -85px;
    margin-bottom: -35px;
}

.MainPage-Container {
    display: flex;
}

.block-1 {
    flex: 0 0 34%;
    width: 100%;
    padding-top: 9.5rem;
    text-align: center;

}

.block-1 img {
    height: 23rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 3.5rem;
}

.block-1 b {
    padding-left: 1.5rem;
}

.block-2-Main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block-3-Main {
    display: flex;
    flex-wrap: wrap;
}

.block-2 {
    flex: 0 0 50%;
    width: 100%;
    padding-top: 3rem;
    text-align: center;

}

.block-2 img {
    height: 15rem;
    width: 12rem;
    padding: 1rem;
}

.block-2 a, .block-1 a, .block-3 a {
    text-decoration: none;
    color: black;
}

.MoreBox {
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.block-3 img {
    width: 13rem;
    height: 15rem;
    padding-left: 6rem;
    padding-right: 1rem;
    border-radius: 20%;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.block-3 b {
    margin-left: 7rem;
}

#Orders{
    padding-top: 1rem;
}

#Orders h3 {
    text-align: center;
    padding: 1rem;
    padding-bottom: 0.8rem;
}

#Orders table {
    width: 100%;
    border-collapse: collapse;
}

#Orders table tr :nth-of-type(odd){
    background-color: #f4f4f4;
}

#Orders table td, #Orders table th {
    text-align: left;
    border: 0.1rem solid #e4e4e4;
    padding: 0.5rem;
}

#Orders table button {
    margin: 0 0.2rem;
}

#Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: black;
    text-align: center;
    justify-content: center;
}

#Content{
    height: 100%;
}

#ProductsHome {
    display: flex;
    background-color: #f1f3f6;
}

#Filters {
    padding-top: 4.4rem;
    padding-left: 2rem;
    padding-right: 1rem;
    background-color: white;
    margin: 0.5rem;
    margin-bottom: 0rem;
}

#Home {
    width: 100%;
    background-color: white;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 50px;
    padding-left: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#Home div {
    flex: 0 0 33%;
}

#Home img {
    height: 14rem;
    width: 11rem;
    margin: 20px;
}

#Home h2 a{
    cursor: pointer;
    text-decoration: none;
    color: cornflowerblue;
}

#Product{
    display: flex;
}

#ProductImage {
    width: 33%;
    text-align: center;
}

#ProductImage img{
    width: 250px;
    height: 400px;
    padding-top: 3rem;
}

#ProductInformation{
    width: 33%;
    padding-left: 25px;
    padding-top: 70px;
}

#ProductCart {
    padding-left: 50px;
    padding-top: 55px;
    width: 25%;
}

#ProductCartBox {
    padding: 10px;
    border: 1px solid black;
}

#ProductCartBox button{
    cursor: pointer;
    width: 100%;
    border: 1px solid rgb(255, 174, 0);
    padding: 2% 5%;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(255, 174, 0);
    border-radius: 10px;
    color: white;
}

#Cart{
    padding-left: 10px;
    padding-right: 10px;
}

#CartHeadings {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

#CartHeadings h2{
    width: 100%;
}

#CartDetails {
    padding-top: 20px;
    padding-bottom: 30px;
}

#CartDetailsMain {
    display: flex;
}

#CartDetailsMain img {
    padding-bottom: 10px;
    padding-right: 10px;
    height: 100px;
    width: 80px;
}

#CartDetailsMainDetail {
    width: 100%;
}

#CartDetailsMainDetailPrice {
    display: flex;
}

#CartDetailsMainDetailPrice a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#CartDetailsMainDetailPrice h3 {
    width: 93%;
    padding-right: 2rem;
}

#DeleteButton {
    padding-top: 10px;
}

#SubTotal {
    display: flex;
    padding-top: 10px;
}

#SubTotal h3 {
    width: 100%;
}

#SubmitButton {
    text-align: center;
    padding-top: 10px;
}

#SubmitButton button {
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    border: none;
    outline-style: none;
    background-color: orange;
}

#PlaceOrder {
    display: flex;
}

#LeftPart {
    margin: 1rem;
    width: 70%;
}

#LeftPartC {
    width: 70%;
}

#LeftPart div {
    background-color: rgb(255, 245, 247);
}

#Address, #OrderingProducts {
    margin: 1rem;
    padding: 0.5rem;
    padding-top: 1rem;
    border: 0.1rem solid black;
}

#OrderingProductsSingle {
    display: flex;
}

#OrderingProductsSingle img {
    padding-bottom: 10px;
    height: 100px;
    width: 80px;
}

#OrderingProductSingleImage {
    width: 20%;
}

#OrderingProductSingleName {
    width: 50%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#RightPart {
    width: 30%;
    margin: 2rem;
    background-color: rgb(255, 245, 247);
    border: 0.1rem solid black;
    padding: 0.5rem;
    padding-top: 1rem;
}

#RightPart h4 {
    font-weight: normal;
    padding: 0.2rem;
}

#RightPart button {
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 5px;
    outline-style: none;
    background-color: orange;
}

#SignIn {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

#SignInMain{
    width: 30%;
    padding: 1rem;
    padding-top: 2rem;
    border: 1px solid black;
    border-radius: 4%;
}

#SignInMain input {
    padding-left: 5px;
    outline-style: none;
    width: 97%;
    height: 20px;
}

#SignInMainPasswordField{
    background-color: #c3c9f545;
}

#SignInMain button{
    cursor: pointer;
    outline-style: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 30px;
}

#SignInMainSignInButton{
    background-color: orange;
}

#SignInMainCreateAccountButton {
    background-color: #c3c9f545;
}

#SignUp {
    background-image: url("https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/122076753/original/bb690a94e2aecc1219cbce5695cfe06bda565e11/mw2-vip-menu-access.jpg");
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#SignUpMain{
    background-color: white;
    width: 35%;
    padding: 1rem;
    padding-top: 2rem;
    border: 1px solid white;
    border-radius: 3%;
    height: 100%;
}

#SignUpMainSame input {
    width: 97%;
    padding: 0.5rem;
    display: inline-block;
    border: none;
    background: #dbd8d882;
    outline-style: none;
}

.SignUpMainSpecificField{
    background-color: #c3c9f545;
}

#Seller {
    margin-right: 10px;
}

#SignUpMain button{
    background-image: url("https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/122076753/original/bb690a94e2aecc1219cbce5695cfe06bda565e11/mw2-vip-menu-access.jpg");
    cursor: pointer;
    outline-style: none;
    border: 0px solid black;
    border-radius: 20px;
    width: 100%;
    height: 35px;
}

#SignUpMain a {
    text-decoration: none;
}

#ProductCreate {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#ProductCreateMain{
    width: 33%;
    padding: 1rem;
    padding-top: 2rem;
    border: 1px solid black;
    height: 100%;
}

#CategorySelect {
    width: 100%;
    padding: 0.1rem;
    margin-top: 0.3rem;
}

#ProductCreateMain input {
    padding-left: 5px;
    outline-style: none;
    width: 97%;
    height: 20px;
}

#ProductCreateMain button{
    cursor: pointer;
    outline-style: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 30px;
}

#ProductCreateMain a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    background-color: #f1a806f7;
    color: black;
    height: 20px;
    width: 98%;
    padding: 0.3rem;
}

#ManageProducts{
    padding-top: 2rem;
}

th, td {
    padding: 0.5rem;
}

#ProductName {
    width: 57%;
}

#AddProduct {
    width: 100%;
    text-align: center;
}

#AddProduct button{
    outline-style: none;
    cursor: pointer;
    border: 1px solid;
    border-radius: 1rem;
    text-align: center;
    background-color: #f1a806f7;
    margin-bottom: 15px;
    height: 30px;
    width: 200px;
    padding: 0.3rem;
}

#EditProfile {
    display: flex;
    justify-content: space-between;
    background-color: lavender;
}

#EditProfileMain{
    width: 100%;
    margin: 3rem;
} 

#EditProfile div input{
    width: 85%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#EditProfile div h4 {
    margin-left: 1rem;
    font-size: 11px;
    padding-bottom: .5rem;
}

#EditProfile div button{
    outline-style: none;
    cursor: pointer;
    color: white;
    background-color: mediumslateblue;
    width: 80px;
    border: 2px solid mediumslateblue;
    border-radius: 10px;
}

#EditProfileMainButton{
    text-align: center;
    padding-bottom: 1rem;
}

#PasswordUpdate {
    text-align: center;
    margin: 1rem;
}

@media screen and (max-width: 700px) {
    #Product {
        display: block;
    }
    #ProductImage {
        width: 100%;
    }
    #ProductImage img{
        padding-top: 2rem;
        padding-left: 0rem;
    }
    #ProductInformation {
        width: 100%;
        text-align: center;
        padding-left: 0rem;
        padding-top: 15px;
    }
    #ProductInformation p {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    #ProductCart {
        width: auto;
        padding-top: 15px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .MainPage-Container {
        display: block;
    }
    .block-1 {
        padding-top: 5rem;
    }
    .block-1 img {
        padding: 0;
        padding-bottom: 1rem;
        height: 15rem;
    }
    .block-2 img, .block-3 img {
        height: 12rem;
        width: 10rem;
    }
    #SignUpMain {
        width: 55%;
    }
    #SignInMain {
        width: 50%;
    }
    #SignInMain h1 {
        font-size: 1.5rem;
    }
    #SignInMain h4 {
        font-size: 0.8rem;
    }
    #EditProfile {
        display: block;
    }
    #EditProfileMain {
        width: auto;
        margin: 0rem;
    }
    #EditProfileMain h2 {
        padding-top: 2rem;
        text-align: center;
    }
    #ProductCreateMain {
        width: 50%;
    }
    #PlaceOrder {
        display: block;
    }
    #LeftPart, #LeftPartC, #RightPart {
        width: auto;
    }
    #ErrorPageMain h1 {
        font-size: 200px;
        margin-top: -65px;
    }
}

@media screen and (max-width: 530px) {
    #Home {
        padding-left: 0rem;
    }
    #Home img {
        height: 12rem;
        width: 9rem;
    }
    #Home h2 {
        font-size: 1rem;
    }
    #SearchBox {
        width: 100%;
    }
}
